body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: beige;
    color: black;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color:khaki;
    color: black;
    font-family: Arial;
    margin: 5px;
}

header {
    background-color:lightcoral;
    color: black;
    font-family: Arial;
    margin: 0px;
}

a {
    color: green;
    text-decoration: none;
    transition: 0.5s 0.1s;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-size: 60px;
    text-shadow: 10px 10px 3px black;
    transition: 0.5s;
}

a:active {
    color: black;
    opacity: 0.3;
}

a:link {
    color: red;
    opacity: 0.3;
}

a:visited {
    color: red;
}

div.menu {
    border: 10px solid #00af0080;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
}

div.menu:hover {
    background-color:burlywood;
    box-shadow: 0 0 15px black;
}